.tree-list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: white;
  flex: 1;
  overflow-y: auto;
  min-height: 0;
}

.tree-list {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  max-width: 390px;
}

.tree-block {
  position: relative;
  transition: all 0.2s ease;
}

.tree-block.expanded-block {
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  background: white;
  overflow: hidden;
  border: 1px solid #f0f0f0;
}

.tree-item {
  padding: 10px 12px;
  cursor: pointer;
  transition: all 0.2s ease;
  user-select: none;
  border-bottom: 1px solid transparent;
  background: white;
  position: relative;
}

.tree-item:hover {
  background-color: #f8f9fa;
}

.tree-item.has-children.expanded .item-title {
  color: #2D2D2D !important;
  font-weight: 600;
}

.tree-item.has-children.expanded .expand-icon {
  color: #2D2D2D !important;
}

.tree-item.has-children.expanded .item-badge {
  color: #2D2D2D !important;
}

.tree-item.active .item-title {
  color: #2D2D2D !important;
  font-weight: 600;
}

.tree-item.active .expand-icon {
  color: #2D2D2D !important;
}

.tree-item.active .item-badge {
  color: #2D2D2D !important;
  font-weight: 600;
}

.tree-block.expanded-block .tree-item:hover {
  background-color: #f8f9fa;
}

.tree-item-content {
  display: flex;
  align-items: center;
  gap: 8px;
  min-height: 24px;
}

.expand-icon {
  font-size: 12px;
  transition: transform 0.2s ease;
  color: #2D2D2D80;
  width: 14px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.expand-icon.expanded {
  transform: rotate(90deg);
}

.expand-placeholder {
  width: 14px;
  height: 1px;
}

.item-icon {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.item-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  flex: 1;
  margin: 0;
  color: #2D2D2D80;
  transition: color 0.2s ease;
  white-space: wrap;
}

.item-badge {
  color: #2D2D2D80;
  font-size: 11px;
  font-weight: 500;
  background: #f0f0f0;
  transition: all 0.2s ease;
}

.tree-item.level-0 .item-title {
  font-size: 20px;
  font-weight: 500;
}

.tree-item.level-1 .item-title {
  font-size: 20px;
  font-weight: 500;
}

.tree-item.level-2 .item-title {
  font-size: 16px;
  color: #2D2D2D;
  font-weight: normal;
}

.tree-children {
  display: flex;
  flex-direction: column;
}

.tree-list::-webkit-scrollbar {
  width: 6px;
}

.tree-list::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.tree-list::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 3px;
}

.tree-list::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}

.task-color-marker {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  flex-shrink: 0;
  border: 1px solid black;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}