.task-list-buttons {
	padding: 14px 15px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.popup-wrapper {
	position: relative;
	display: inline-block;
}

.list-buttons {
	display: flex;
	gap: 10px;
	position: relative;
}

.list-button {
	width: 25px;
	height: 25px;
	border: none;
	border-radius: 8px;
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: all 0.3s ease;
}

.list-button:hover {
	background-color: rgba(0, 123, 255, 0.1);
}

.list-container {
	flex: 1;
	overflow: auto;
}

.popup-content {
	padding: 0;
	width: 100%;
}

.popup-list {
	max-height: 300px;
	overflow-y: auto;
	width: 100%;
}

.popup-item {
	padding: 8px 16px;
	line-height: 1.4;
	border-bottom: 1px solid #f5f5f5;
	font-size: 14px;
	font-weight: normal;
	width: 100%;
	box-sizing: border-box;
	display: block;
	color: #2D2D2D80;
}

.popup-item:hover {
	background-color: #CADAF3;
	color: #2D2D2D;
	cursor: pointer;
}

.popup-item:last-child {
	border-bottom: none;
}