.form-group-fullwidth {
  margin: 0 24px;
}

.form-group-fullwidth .form-input {
  width: 100%;
  font-size: 20px;
  border: 1px solid #0B57D080;
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.form-group-fullwidth .form-input:focus {
  outline: none;
  border-color: #0B57D0;
  background-color: #CADAF3;
  color: #2D2D2D;
}